img{
  margin-top: 5px;
  margin-left: 5px;
}
button{
  background-color: transparent;
  border:none;
}
a:hover{
  cursor: pointer;
}
a{
  font-size: 20px;
}
h1,h2{
  color: white;
}
.wrapper-top{
  display: flex;
  justify-content: space-between;
}
