
img{
  width: 50%;
  margin-left: 70px;
  margin-top: 10px;
}
.card{
  text-align: center;
  padding: 15px;
}
a{
  margin-top: 70px;
}
h1,h2:first-child{
  color: white;
  margin-top: 15px;
}
.card-title{
  color: black!important;
}
