<div class="container">
  <div class="row mt-4">
    <div class="col-sm-6">
      <h1><i class="fas fa-user-cog"></i> Settings</h1>
      <form #f="ngForm" novalidate>
        <div class="form-group">
          <label for="firstName">Current Email</label>
          <input
          type="text"
          class="form-control mb-4"
          id="firstName"
          placeholder="Enter First Name"
          required
          name="firstName"
          >
        </div>
        <!-- end first name  -->
        <div class="form-group">
          <label for="lastName">New Email</label>
          <input
          type="text"
          class="form-control mb-4"
          id="lastName"
          placeholder="Enter Last Name"
          required
          name="lastName"

          >
        </div>
        <!-- end last name  -->
        <div class="form-group">
          <label for="address">Confirm Password</label>
          <input
          type="address"
          class="form-control mb-4"
          id="address"
          placeholder="Enter Address"
          required
          name="address"
          >
        </div>
          <!-- end address  -->
        <div class="form-group">
          <label for="city">Number of page</label>
          <input
          type="text"
          class="form-control mb-4"
          id="city"
          placeholder="Enter City"
          required
          name="city"
          >
        </div>
          <!-- end city  -->
          <!-- end state  -->
        <div class="button-group mt-3">
          <div class="button-gr-right">
            <button type="button" class="btn btn-light">Cancel</button>
            <button type="button" class="btn btn-success">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
